<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Aula JSF</title>
    </h:head>
    <h:body>
        <h:form>
            <h:messages>
                
            </h:messages>
            <p>Nome</p>
            <h:inputText id="nome" required="true"
                         requiredMessage="Insira um nome.">                
            </h:inputText>
            <br></br>
            <p>Telefone</p>
            <h:inputText id="telefone" required="true"
                         requiredMessage="Insira um numero valido de telefone." validatorMessage="Insira um numero valido de telefone.">
                <f:validateRegex pattern="^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$"/>             
            </h:inputText>
            <p></p>
            <p>Numero de série do produto</p>
            <p>Exemplo: HGA99785h556478BRA</p>
            <h:inputText id="serie" required="true"
                         requiredMessage="Insira um numero valido de série" validatorMessage="Insira um numero valido de série">
                <f:validateRegex pattern="([a-zA-Z]{3})([0-9]{3,7})([a-zA-Z]{1})([0-9]{6})([a-zA-Z]{3})"/>
            </h:inputText>
            <p>Insira um numero</p>
            <h:inputText id="numero" required="true">
                <f:validator validatorId="org.athoscastro.ValidadorPrimo"/>
            </h:inputText>            
            <p></p>
            <h:commandButton value="Enviar"></h:commandButton>
        </h:form>
    </h:body>
</html>

